<error ng-if="error"></error>
<loader ng-show="loading"></loader>
<div ng-show="!loading" class="admin-page">
    <div class="jumbotron no-live-game" ng-if="!gameRunning">
        <p>Currently there isn't a game being played, please click the button below to start one!</p>
        <p><a class="btn btn-primary" ui-sref="create" ui-sref-active="active" role="button">Create Game</a></p>
    </div>
    <div ng-if="gameRunning">
        <div class="game-detail-header">
            <h3 class="title">{{ game.name }}</h3>
            <p class="edit-button"><a class="btn btn-primary" ui-sref="edit" ui-sref-active="active" role="button">Edit Game</a></p>
            <p class="deactivate-button"><a ng-click="deactivateGame()" class="btn btn-danger" role="button">Deactivate Game</a></p>
        </div>
        <div class="panel-group accordion" id="accordion">
            <div class="location-details panel panel-default" ng-repeat="location in game.locations">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="header collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#location{{ location.number }}">{{location.name}} (Location {{ location.number }})</a>
                    </h4>
                </div>
                <div id="location{{ location.number }}" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item scanner-details" ng-repeat="scanner in location.scanners">
                            <span class="bold pr-1">Scanner {{ scanner.number }}</span>
                            <span class="pr-1"><span class="bold">Type:</span> {{ scanner.type }}</span>
                            <span class="pr-1"><span class="bold">Text:</span> {{ scanner.text }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
