<div class="create-page">
    <div class="create-form">
        <div class="num-locations">
            <label>Number of locations</label>
            <input class="form-control primary" ng-model="numLocations" ng-model-options='{ debounce: 500 }' ng-change="updateLocations(numLocations, '{{numLocations}}')" type="number" min="1" />
        </div>
        <div class="location-details">
            <label>Define location</label>
            <div class="loc-detail-group">
                <select class="form-control primary" ng-model="selectedLoc" ng-options="loc.id for loc in locNames"></select>
                <input class="form-control" ng-model="selectedLoc.name" placeholder="Enter location name..." type="text" />
                <input class="form-control secondary small" placeholder="# of scanners" ng-model="selectedLoc.numScanners" ng-model-options='{ debounce: 500 }' ng-change="updateScanners(selectedLoc.numScanners, '{{selectedLoc.numScanners}}')" type="number" min="1" />
            </div>
        </div>
        <div class="scanner-details">
            <label>Define scanners at location {{ selectedLoc.id }}</label>
            <div class="scanner-group">
                <select class="form-control secondary v-small" ng-model="selectedScanner" ng-options="scanner.id for scanner in selectedLoc.scanners"></select>
                <select class="form-control small" ng-model="selectedScanner.type" ng-options="type for type in gameTypes"></select>
                <input class="form-control large" ng-model="selectedScanner.text" placeholder="Enter scanner text..." type="text" />
            </div>
        </div>
        <button type="button" class="btn btn-primary">Submit</button>
    </div>
</div>
