<error ng-if="error"></error>
<loader ng-show="loading"></loader>
<div class="edit-users-page">
    <div class="jumbotron no-live-game" ng-if="!gameRunning">
        <p>Currently there isn't a game being played, please click the button below to start one!</p>
        <p><a class="btn btn-primary" ui-sref="create" ui-sref-active="active" role="button">Create Game</a></p>
    </div>
    <div class="live-game">
        <h3>Users:</h3>
        <div ng-repeat="user in users">
            <p ng-if="!user.edit">{{ user.alias }} (ID: {{ user.scanId }}) <i ng-click="editUser(user)" class="fa fa-pencil primary"></i></p>
            <div ng-if="user.edit" class="edit-user">
                <input class="form-control" placeholder="Alias" value="{{ user.alias }}" />
                <input class="form-control" value="ID: {{ user.scanId }}" readonly />
                <button ng-click="updateUser(user)" class="btn btn-success"><i class="fa fa-check"></i></button>
                <button ng-click="cancelUpdate(user)" class="btn btn-danger"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>
</div>