<error ng-if="error"></error>
<loader ng-show="loading"></loader>
<div class="edit-users-page">
    <div class="jumbotron no-live-game" ng-if="!gameRunning">
        <p>Currently there isn't a game being played, please click the button below to start one!</p>
        <p><a class="btn btn-primary" ui-sref="create" ui-sref-active="active" role="button">Create Game</a></p>
    </div>
    <div class="live-game">
        <h3>Users:</h3>
        <p ng-repeat="user in users">{{ user.alias }} (ID: {{ user.scanId }}) <i class="fa fa-pencil primary"></i></p>
    </div>
</div>