<error ng-if="error"></error>
<loader ng-show="loading"></loader>
<div ng-show="!loading" class="jumbotron home-page">
    <img src="/assets/images/science_center.png" />
    <h1>Welcome to the St. Louis Science Center RFID Game!</h1>
    <div class="no-game" ng-if="!gameRunning">
        <p>Currently no games are being played, please click the button below to get started!</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="create" ui-sref-active="active" role="button">Start Game</a></p>
    </div>
    <div class="live-game" ng-if="gameRunning">
        <p>Currently there is a game being played, please click the button below if changes are needed!</p>
        <p><a class="btn btn-primary btn-lg" ui-sref="edit" ui-sref-active="active" role="button">Edit Game</a></p>
    </div>
</div>