<error ng-if="error"></error>
<loader ng-show="loading"></loader>
<div class="scanners-page">
    <div class=panel-group ng-if="gameRunning">
        <div class="locations panel panel-default" ng-repeat="location in game.locations">
            <div class="panel-heading">{{location.name}} (Location {{ location.number }})</div>
            <ul class="scanners list-group">
                <li ng-repeat="scanner in location.scanners" ng-click="goTo(location.number, scanner.number)" class="list-group-item">Scanner {{ scanner.number }} <i class="fa fa-external-link" aria-hidden="true"></i></li>
            </ul>
        </div>
    </div>
    <div class="jumbotron no-live-game" ng-if="!gameRunning">
        <p>Currently there isn't a game being played, please click the button below to start one!</p>
        <p><a class="btn btn-primary" ui-sref="create" ui-sref-active="active" role="button">Create Game</a></p>
    </div>
</div>