<div class="scan-page">
    <div class="valid-scanner" ng-show="validScanner">
        <h1>Scan your RFID card</h1>
        <form ng-submit="submitScan()">
            <div class="input-group">
                <input id="scannerInput" ng-model="scannerInput" ng-blur="focusInput()" type="text" class="form-control" placeholder="Scan ID" autocomplete="off">
                <span class="input-group-addon"><i class="fa fa-check"></i></span>
            </div>
        </form>
        <div class="scan-success animate" ng-show="scanSuccess">
            <h1>{{ scannerText }}</h1>
        </div>
    </div>
    <div class="jumbotron invalid-scanner" ng-if="!validScanner">
        <p>The selected scanner <span class="bold">(Location {{ locNum }}, Scanner {{ scannerNum }})</span> is invalid. Click the button below to view the list of available scanners.</p>
        <p><a class="btn btn-primary" ui-sref="scanners" ui-sref-active="scanners" role="button">Scanners</a></p>
    </div>
</div>