<div class="user-page">
    <div class="jumbotron no-live-game" ng-if="!gameRunning">
        <p>Currently there isn't a game being played, please click the button below to start one!</p>
        <p><a class="btn btn-primary" ui-sref="create" ui-sref-active="active" role="button">Create Game</a></p>
    </div>
    <div ng-show="gameRunning" class="user-form">
        <div class="instructions">
            <h3>Instructions</h3>
            <ol>
                <li>Enter an alias</li>
                <li>Click the Scanner ID input field</li>
                <li>Scan your card</li>
                <li>Ensure both fields are filled out and click Submit</li>
            </ol>
        </div>
        <div class="user-info-group">
            <div class="alias-group">
                <label>Alias</label>
                <input ng-model="alias" type="text" class="form-control" placeholder="Enter an Alias">
            </div>
            <div class="scanner-group">
                <label>Scanner ID</label>
                <input ng-model="scanId" type="text" class="form-control" placeholder="Scan your RFID Card">
            </div>
            <button type="button" class="btn btn-primary" ng-click="createUser()">Submit</button>
        </div>
        <div class="user-created animate" ng-show="userCreated">
            <h1>Success!</h1>
        </div>
        <div class="duplicate-user animate" ng-show="duplicateScan">
            <h1>Duplicate User</h1>
        </div>
    </div>
</div>