<html ng-app="rfidApp">
    <head>
        <title>RFID Game</title>
        <script src="/modules/angular/angular.js"></script>
        <script src="/modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
        <script src="/modules/angular-resource/angular-resource.js"></script>
        <script src="https://use.fontawesome.com/65c60834b5.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


        <!-- Dependencies for Angular UI -->
        <script src="/modules/angular-animate/angular-animate.js"></script>
        <script src="/modules/angular-touch/angular-touch.js"></script>

        <script src="/modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/css/override.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/common.css" />


        <base href="/" />
    </head>
    <body>
        <navbar></navbar>
        <ui-view></ui-view>

        <script src="/assets/js/app.js"></script>
        <script src="/assets/js/routes.js"></script>
        <script src="/assets/js/directives/navbar/navbar.js"></script>
        <script src="/assets/js/controllers/homeController.js"></script>
        <script src="/assets/js/controllers/createController.js"></script>
        <script src="/assets/js/controllers/adminController.js"></script>
        <script src="/assets/js/controllers/editController.js"></script>
        <script src="/assets/js/controllers/scannersController.js"></script>
        <script src="/assets/js/controllers/scanController.js"></script>
        <script src="/assets/js/services/CurrentGame.js"></script>
        <script src="/assets/js/services/Focus.js"></script>
    </body>
</html>
