.home-page,
.create-page .live-game,
.admin-page .no-live-game,
.edit-page .no-live-game,
.scanners-page .no-live-game {
    width: 100%;
    text-align: center;
}

.home-page img {
    height: 175px;
}

.create-page,
.edit-page {
    display: flex;
}

.create-page .create-form,
.edit-page .edit-form {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

.create-page .game-detail-group,
.create-page .location-details,
.create-page .scanner-details,
.edit-page .game-detail-group,
.edit-page .location-details,
.edit-page .scanner-details{
    margin-top: 3rem;
}

.create-page .game-detail-group,
.create-page .loc-detail-group,
.create-page .scanner-detail-group,
.edit-page .game-detail-group,
.edit-page .loc-detail-group,
.edit-page .scanner-detail-group {
    display: flex;
}

.create-page .scanner-detail-group input,
.edit-page .scanner-detail-group input {
    width: 40%;
    margin-right: 1rem;
}

.create-page button {
    margin-top: 1.5em;
}

.create-page .inline-label,
.edit-page .inline-label {
    top: -1.5em;
    font-size: .7em;
    font-weight: bold;
}

.panel-heading .header:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: grey;
    padding-right: 1rem;
}
.panel-heading .header.collapsed:after {
    content: "\e080";
}

.admin-page .game-detail-header {
    display: flex;
}

.admin-page .game-detail-header .edit-button {
    margin-left: auto;
}

.admin-page .game-detail-header .edit-button,
.admin-page .game-detail-header .deactivate-button {
    margin-top: 1rem;
    margin-right: 1rem;
}

.admin-page .title {
    padding-left: 2rem;
    margin-top: 1rem;
}

.admin-page .location-details a {
    cursor: pointer;
}

.edit-page .form-footer {
    display: flex;
    align-items: center;
    margin-top: 1.5em;
}

.edit-page .alert {
    width: 100%;
    margin-left: 1rem;
    margin-bottom: 0px;
    padding: 6px 12px;
}

.edit-page .deactivate-button {
    margin-left: 1rem;
}