.home-page {
    text-align: center;
}

.home-page img {
    height: 175px;
}

.create-page {
    display: flex;
}

.create-page .create-form {
    margin-left: auto;
    margin-right: auto;
}

.create-page .game-type {
    width: 50vw;
    margin-top: 5rem;
}

.create-page .num-locations {
    width: 20vw;
    margin-top: 2rem;
}

