.home-page {
    text-align: center;
}

.home-page img {
    height: 175px;
}

.create-page {
    display: flex;
}

.create-page .game-type {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

